        .send-button{
            background-color: #4CAF50;
            color: white;
            border: none;
            margin-left: 10px;
            border-radius: 10px;
            font-size: 16px;
            padding: 12px 20px;
            cursor: pointer;   
        }
        .chat-input{
            padding: 12px 20px;
            border-radius: 10px;
            border-width: 1px;
            font-size: 16px;
            flex-grow: 1;
        }
        .chat-input-container{
            display: flex;   
            margin-bottom: 60px;
        }
        .app-container{
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
            height: 100vh;
            display: flex;
            flex-direction: column;
        }
        .user-message{
            display: flex;
            justify-content: end;
            align-items: start;
        }
        .robot-message{
            display: flex;
            justify-content: start;
            align-items: start;
        }
        .message-text{
            background-color: #c2bebe;
            border-radius: 10px;
            padding: 10px;
            margin: 5px;
            max-width: 70%;
            max-width: 300px;
        }
        .chat-message-profile{
            width: 50px;
        }
        .chat-messages-container{
            flex-grow: 1;
            margin-top: 20px;
            overflow:scroll;
            scrollbar-width: none;

        }